body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}

#map {
  height: 50vh;
}

#dynamic-list p {
  margin: 2px;
  border: #fff 1px solid;
  cursor: pointer;
}

#dynamic-list p.active {
  background-color: #555;
  color: #fff;
}

.navbar {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.link {
  background: #0704cf;
  display: block;
  text-decoration: none;
  color: white;
}

.dropdown {
  position: relative;
}

.linkList {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #0704cf;
  z-index: 1000;
}

.footer {
  padding: 10px;
}
.grid-container {
  display: grid;
  gap: 5px;
  background-color: #ddd;
  padding: 5px;
  margin-bottom: 5px;
  width: 100%;
  grid-template-areas:
    "header header header"
    "side main main"
    "side main2 main2"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}
.box {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}

.box:nth-child(even) {
  background-color: #e74c3c;
}
