body {
  font-family: sans-serif;
  margin: 20px;
  background: #f4f6f8;
  color: #333;
}

#map {
  height: 50vh;
}

#dynamic-list p {
  margin: 2px;
  border: #fff 1px solid;
  cursor: pointer;
}

#dynamic-list p.active {
  background-color: #555;
  color: #fff;
}

.navbar {
  align-items: stretch;
  background: #2c3e50;
  color: #fff;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.link {
  background: #34495e;
  display: block;
  text-decoration: none;
  color: white;
}

.dropdown {
  position: relative;
}

.linkList {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #34495e;
  z-index: 1000;
  min-width: 200px;
}

.link:hover {
  background: 1abc9c;
}

.grid-container {
  display: grid;
  gap: 10px;
  background: transparent;
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
  grid-template-areas:
    "header header header"
    "side main main"
    "side main2 main2"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}
.box {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}

.box:nth-child(even) {
  background-color: #0f172a;
}
